*{
    margin: 0;
    padding: 0;
    text-align: center;
}

body{
    background-color:burlywood;
    
}

h1{
    font-size: 3rem;
}

.container{
    /* background-color: black; */
    color: white;
    width: 80%;
    height: 40%;
    margin: auto;
    margin-top: 13rem;
    border-radius: 25px;
}

